{% extends "encyclopedia/layout.html" %}

{% block title %}
  Create New Page
{% endblock %}

{% block body %}
  <h1>Create a new page</h1>

  <h3>Markdown Syntax:</h3>
  <ul>
    <li>Heading: #</li>
    <li>Smaller heading: ##</li>
    <li>Bold: **...**</li>
    <li>Italic: *...*</li>
    <li>Strikethrough: ~~  ~~ </li>
    <li>Subscript: <sub></sub></li>
    <li>Superscript: <sup></sup></li>
    <li>Quote: > </li>
  </ul>

    {% if exists %}
      <p class = "bg-light text-danger">{{error}}</p>
    {% endif %}

    <form action="{% url 'encyclopedia:newPage' %}" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit">
    </form>

{% endblock %}
